<!DOCTYPE html>
<html>
<head>
    <title>Disaster Analysis</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form id="tweetForm">
            <label for="tweetText">Enter Tweet Text:</label><br>
            <textarea id="tweetText" name="tweet_text" rows="4" cols="50"></textarea><br>
            <button type="submit">Submit</button>
        </form>
        <div id="result"></div>
    </div>

    
    <script>
        document.getElementById('tweetForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerHTML = 'Sentiment: ' + data.sentiment;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
